body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 510px;
    width: 510px;
}

.gridSquares{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    margin: 0px;
}





