body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 379px;
    width: 379px;
    border: 1px solid black;
}

.grid{
    width: 20px;
    height: 20px;
    border: 2px solid black;
}




